################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OOPs.Classes/obj
/.vs/OOPs/v16
/.vs
/OOPs.Constructor/obj
/OOPs.Polymorphism/obj
/OOPs.Polymorphism/bin/Debug/netcoreapp3.1
/OOPs.Operators/obj
/OOPs.Operators/bin/Debug/netcoreapp3.1
/OOPs.Loops/obj
/OOPs.Loops/bin/Debug/netcoreapp3.1
/OOPs.Interfaces/obj
/OOPs.Interfaces/bin/Debug/netcoreapp3.1
/OOPs.Inheritance/obj
/OOPs.Inheritance/bin/Debug/netcoreapp3.1
/OOPs.Conditions/obj
/OOPs.Conditions/bin/Debug/netcoreapp3.1
/OOPs.AccessModifier/obj
/OOPs.AccessModifier/bin/Debug/netcoreapp3.1
/OOPs.Classes/bin/Debug/netcoreapp3.1
/OOPs.Constructor/bin/Debug/netcoreapp3.1
