################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OOPs.Classes/obj
/.vs/OOPs/v16
/.vs
/OOPs.Constructor/obj
